html {
    font-size: 1rem;
    height: 100%;
}

body {
    // font-family: 'Source Sand Pro' ;
    background-color: var(--surface-ground);
    color: var(--text-color);
    padding: 0;
    margin: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// @font-face {
//     font-family: "mitr";
//     src: local("mitr"),
//      url(./fonts/mitr/Mitr-Regular.ttf) format("truetype");
// }

a {
    text-decoration: none;
}

.p-button.p-button-primary {
    color: #fff;
    background-color: #0069d9;
    border-color: #0069d9;
    box-shadow: none;  
}

// .p-button.p-button-primary:hover {
//     color: #fff;
//     background-color: #0069d9;
//     border-color: #0069d9;
//   }

.p-button.p-button-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    box-shadow: none;  
}

.p-button.p-button-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
  }

.p-button.p-button-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: none;
}

.p-button.p-button-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.content-header h1 {
    font-size: 1.8rem;
    margin: 0;
}
